/* feedback.module.css */

/* Style for the outer container */
.feedback_container {
    display: flex;
    flex-direction: column; /* Adjusted to column layout */
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Style for the feedback box */
.feedback_box {
    padding: 10px;
    margin-bottom: 10px; /* Added margin at the bottom */
    border-radius: 5px;
}

/* Style for the bibliographic box */
.bibliographic_box {
    margin-top: 10px; /* Added margin at the top */
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text */
    max-width: 600px; /* Set your desired max-width value */
    overflow: hidden;
    text-overflow: ellipsis; /* Handle text overflow with ellipsis */
}

/* Style for the error message */
.error_message {
    background-color: #ffcccc; /* Light red background */
    color: #cc0000; /* Dark red text */
}

/* Style for the success message */
.success_message {
    background-color: #ccffcc; /* Light green background */
    color: #006600; /* Dark green text */
}
