.container {
    width: 80%;
    margin: auto;
  }
  /* header bar style on search page */
  .searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 20px;
  }
  /* search page table */
  .table {
    width: 100%;
    margin-top: 20px;
  }
  
  .table th {
    text-align: left;
  }
  
  .tableRow {
    border-bottom: 1px solid black;
  }
  
  .tableData {
    padding: 10px 0;
  }
/* search page summary popup */
.popup {
  position: fixed;
  width: auto; /* set width to 500px */
  height: auto; /* set height to 500px */
  top: 28%; /* set top to 50% */
  left: 65%; /* set left to 50% */
  transform: translate(-50%, -50%); /* this line centers the popup */
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  overflow: auto;
}

.closeButton {
  position: absolute;
  top: 10px; 
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
}

  /* column sort styles*/
  .columnSort {
    cursor: pointer;
  }
  
  .columnSort::before {
    content: " ▲";
    visibility: hidden;
  }
  
  .columnSort.descending::before {
    visibility: visible;
  }
  
  .columnSort::after {
    content: " ▼";
    visibility: hidden;
  }
  
  .columnSort.ascending::after {
    visibility: visible;
  }